[Container]
AutoUpdate=registry
ContainerName=rating-update
Environment=TZ="America/Chicago"
Image=rnevils/rating-update:dev-latest
Pod=rating-updates.pod