<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>RATING UPDATE</strong> is Open Source.<br />
      Maintained by <a href="https://twitter.com/_nemasu_" target="_blank">nemasu</a>.<br />
      Created by <a href="https://twitter.com/sov_gott_games" target="_blank">halvnykterist</a>.<br />
      Designed by <a href="https://twitter.com/shiburizu" target="_blank">Shiburizu</a>.
    </p>
  </div>
</footer>